/* .sigin-container{
    width: 500px;
    height: 300px;


}
img{
    width: 150px;
   padding-left:150px;
    
}
.lbl{
    padding-top: 0px;
    position: absolute;
    right: 55%;
    top: 55%;
} */
.signin_container{

    height:50vh;
}
img{
    width:18%
}
